.movie-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie-img {
    width: 150px;
    height: 200px;
}

#movie-heading {
    text-align: center;
}

#movie-description {
    width: 70%;
}