.top-nav {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    border-bottom: 1px solid #222;
    background-color: #000;
}

.home-link, .catalog-link, #budget {
    margin-right: 2rem;
    line-height: 3rem;
}

#budget.low-funds {
    color: red;
}

#logo {
    margin-left: auto;
    line-height: 3rem;
    font-weight: bold;
    letter-spacing: .1rem;
    font-size: 1.4rem;
    color: red;
}