.App {
  min-height: 100vh;
  background-color: black;
  color: white;
}

.App input {
  color: white;
}

.App input::placeholder {
  color: #999
}

.App a:link, .App a:visited {
  color: #ddd;
  text-decoration: none;
}

.App a:hover, .App a:active {
  color: #fff;
}

.App .MuiInput-underline::after {
  border-bottom-color: #ddd;
}

h2 {
  margin: 2rem 0 3rem;
  text-align: center;
  font-size: 3rem;
}